.buttonsDiv {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 50rem;
}
.quesDiv > p {
  color: white;
  font-size: 1.3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 50rem;
}
.difDiv {
  position: absolute;
  top: 9rem;
  color: white;
  width: 50rem;
  font-size: 1.4rem;
}
.scoreDiv {
  position: absolute;
  top: -6rem;
  color: white;
}
.roundDiv {
  position: absolute;
  right: 0rem;
  top: -6rem;
  color: white;
}
.triviaDiv {
  position: relative;
  width: 50rem;
}

.categDiv > p {
  font-size: 2.2rem;
}
