.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
}
.triviaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
